* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

:root {
    --background: hsl(155 30% 12%);
    --card-bg: #ffffff1f;
    --primary-dark: hsl(150 70% 35%);
    --primary: #28bd73;
    --accent: hsl(150 55% 55%);
    --white-text: #f5f5f5;
    --card-border: 1px solid rgba(255, 255, 255, .2);
}

body {
    background-color: var(--background);
}

.app {
    padding: 0 100px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--white-text);
}