.about {
    margin: 5rem 0;

    h1 {
        font-size: 3rem;
        color: var(--white-text);
        margin-bottom: 24px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        padding: 48px;

        .left {
            width: 33%;

            p {
                color: #f5f5f5e6;
                font-size: 1.125rem;
                line-height: 1.3;
            }
        }

        .right {
            width: 60%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            gap: 24px;

            .card {
                background-color: #ffffff0d;
                border: var(--card-border);
                border-radius: 20px;
                padding: 24px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .icon{
                    font-size: 3rem;
                    color: var(--primary-dark);
                    margin-bottom: 16px;
                }
                h2{
                    font-size: 2.25rem;
                    color: var(--white-text);
                    margin-bottom: 10px;
                }
                p{
                    color: var(--gray-text);
                }
            }
        }
    }
}