header{
    display: flex;

    .left, .right{
        width: 50%;
        height: 100vh;
        
        h1{
            font-size:4.5rem ;
            color: var(--white-text);
        }
        p{
            color: var(--gray-text);
            font-size: 1.5rem ;
        }
        a{
            background: var(--primary);
            padding: 12px 20px;
            border-radius: 8px;
            font-weight: 600;
            transition: .3s;
            font-size: 1.125rem ;
            width:fit-content;


            &:hover{
                background-color: var(--primary-dark);
                transform: scale(1.05);
            }
        }
    }

    .left{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}