.courses{
    margin-top: 150px;
    .top{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            color: var(--white-text);
            font-size: 3rem;
            margin-bottom: 15px;
        }
        p{
            color: var(--gray-text);
            font-size: 1rem;
            max-width: 672px;
        }
    }
    .bottom{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        margin-top: 50px;

        .card{
            background-color: var(--card-bg);
            border: var(--card-border);
            padding: 24px;
            border-radius: 20px;
            transition: all 0.3s ease-in-out;
            
            &:hover{
                box-shadow: var(--card-shadow);
                transform: translateY(-10px);
                .icon{
                    transform: scale(1.1);
                }
            }
            
            .icon{  
                transition: all 0.3s ease-in-out;
                padding: 14px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-color: var(--primary-dark);
                border-radius: 15px;
                margin-bottom: 16px;
                img{
                    width: 28px;
                    height: 28px;
                    
                }
            }

            h2{
                color: var(--white-text);
                font-size: 1.5rem;
                margin-bottom: 8px;
            }

            .description{
                font-size: 0.875rem;
                color: var(--gray-text);
                margin-bottom: 16px;
            }

            .duration{
                margin-bottom: 12px;
            }

            .forwho{
                margin-bottom: 16px;
            }

            .topics-text{
                color: var(--white-text);
            }

            ul{
                li{
                    list-style: disc;
                    margin-left: 35px;
                    font-size: 0.875rem;
                    color: var(--gray-text);
                    margin-top: 7px;
                }
            }

            p{
                color: var(--gray-text);
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 0.875rem;
            }
        }
    }
}