.courses{
    .bottom{

        .card{
            padding: 24px;
            transition: all 0.3s ease-in-out;
            
            .icon{  
                transition: all 0.3s ease-in-out;
                padding: 14px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                background-color: var(--primary);
                border-radius: 15px;
                margin-bottom: 16px;
                img{
                    width: 28px;
                    height: 28px;
                    
                }
            }

            h2{
                color: var(--white-text);
                font-size: 1.5rem;
                margin-bottom: 8px;
            }

            .description{
                font-size: 0.875rem;
                color: var(--gray-text);
                margin-bottom: 16px;
            }

            .duration{
                margin-bottom: 12px;
            }

            .forwho{
                margin-bottom: 16px;
            }

            .topics-text{
                color: var(--white-text);
            }
            
            ul{
                margin-bottom: 16px;
                li{
                    list-style: disc;
                    margin-left: 35px;
                    font-size: 0.875rem;
                    color: var(--gray-text);
                    margin-top: 7px;
                }
            }

            p{
                color: var(--gray-text);
                display: flex;
                gap: 10px;
                align-items: center;
                font-size: 0.875rem;
            }

            a{
                background-color: var(--primary);
                display: block;
                padding: 14px 32px;
                border-radius: 10px;
                text-align: center;
                transition: .3s;
                font-size: 0.875rem;

                &:hover{
                    background-color: var(--primary-dark);
                }
            }
        }
    }
}